.about-us,
.about-us * {
  box-sizing: border-box;
}
.about-us-bg {
  background: var(--wood-gradient,  linear-gradient(180deg, rgba(51, 41, 50, 1) 0%, rgba(37, 25, 41, 1) 100%));
  margin: 0px;
}
.about-us {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.about-hero-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.component-arches-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.component-small-arch {
  transform: scaleX(-1);
}

.about-hero {
  margin: -150px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;

}
.hero-title {
  color: #ffffff;
  text-align: left;
  font-family: "MestizaBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 100px;
}
.about-hero-text {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.hero-body {
  color: #ffffff;
  text-align: left;
  font-family: "CivaneNorBoo-Undefined", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about-img-groupPhoto {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 416px;
  height: 416px;
  position: relative;
}
.about-goal {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.component-leaf-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: stretch;
}
.about-vision {
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  justify-content: center;
}
.component-long-frame {
  width: 100%;
}
.component-long-frame-flipped {
  width: 100%;
  transform-origin: center;
  transform: rotate(180deg);
  padding-bottom: 5%;
}
.h-2 {
  color: #ffffff;
  text-align: center;
  font-family: "MestizaBold-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
}
.caption {
  color: #ffffff;
  text-align: center;
  font-family: "CivaneNorBoo-Undefined", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.component-pillar {
  flex-shrink: 0;
  width: 62px;
  height: 420px;
  position: relative;
  aspect-ratio: 62/420;
}
.about-mission {
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  justify-content: center;
}
.component-divider {
  padding: 5% 0 5% 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
  align-self: stretch;
}
.about-profile {
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  align-self: stretch;

}
.component-left-corner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;

}
.component-tiny-arch {
  flex-shrink: 0;
  width: 96.18px;
  height: 96.18px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.glass10 {
  width: 99.99%;
  height: 100%;
  position: absolute;
  right: -0.01%;
  left: 0.02%;
  bottom: 0.01%;
  top: -0.01%;
  overflow: visible;
}
.component-tiny-arch2 {
  flex-shrink: 0;
  width: 96.18px;
  height: 96.18px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
  overflow: hidden;
}
.glass11 {
  width: 99.99%;
  height: 100%;
  position: absolute;
  right: -0.01%;
  left: 0.02%;
  bottom: 0.01%;
  top: -0.01%;
  overflow: visible;
}
.about-img-profile {
  background: #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  position: relative;
  aspect-ratio: 1;
}
.bar {
  align-self: stretch;
  flex-shrink: 0;
  width: 82.88px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 82.88/492;
}
.wood16 {
  width: 99.98%;
  height: 100%;
  position: absolute;
  right: 0.02%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.about-profile-discription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 714px;
  position: relative;
}
.about-profile-name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;

}
.h-1 {
  color: #ffffff;
  text-align: left;
  font-family: "MestizaBold-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
}
.h-3 {
  color: #ffffff;
  text-align: left;
  font-family: "CivaneNorBoo-Undefined", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
}
.h-22 {
  color: #ffffff;
  text-align: left;
  font-family: "MestizaBold-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
}
.body {
  color: #ffffff;
  text-align: left;
  font-family: "CivaneNorBoo-Undefined", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.component-bar {
  align-self: stretch;
  flex-shrink: 0;
  width: 82.88px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 82.88/492;
}
.wood17 {
  width: 99.98%;
  height: 100%;
  position: absolute;
  right: 0.02%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.component-right-corner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;

}
.component-tiny-arch3 {
  flex-shrink: 0;
  width: 96.18px;
  height: 96.18px;
  position: relative;
  overflow: hidden;
}
.glass12 {
  width: 99.99%;
  height: 100%;
  position: absolute;
  right: -0.01%;
  left: 0.02%;
  bottom: 0.01%;
  top: -0.01%;
  overflow: visible;
}
.component-tiny-arch4 {
  flex-shrink: 0;
  width: 96.18px;
  height: 96.18px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  overflow: hidden;
}
.glass13 {
  width: 99.99%;
  height: 100%;
  position: absolute;
  right: -0.01%;
  left: 0.02%;
  bottom: 0.01%;
  top: -0.01%;
  overflow: visible;
}
.about-associates {
  padding: 50px 30px 50px 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  align-self: stretch;

}
.rectangle-2 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 472px;
  height: 472px;
  position: relative;
}
.component-border {
  align-self: stretch;
  flex-shrink: 0;
  width: 107.35px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 107.35/667;
}
.wood18 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.about-associates-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

}
.about-associates-grid {
  flex-shrink: 0;
  display: grid;
  gap: 20px;
  position: relative;
  grid-template-columns: repeat(3, fit-content(100%));
  grid-template-rows: repeat(2, fit-content(100%));
}
.about-production-associates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.h-23 {
  color: #ffffff;
  text-align: left;
  font-family: "MestizaBold-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.about-marketing-associates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.about-multimedia-associates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.about-creative-associates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.about-editorial-associates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
